:root {
  --primary: #FF6500;
  --primary-dark: #CC5200;
  --primary-light: #FF8533;

  /* Secondary colors */
  --secondary: #1E3E62;
  --secondary-dark: #0B192C;
  --secondary-light: #2A5589;

  /* Text colors */
  --text-primary: #FFFFFF;
  --text-secondary: #CCCCCC;
  --text-tertiary: #999999;

  /* Background colors */
  --background: #000000;
  --background-light: #0B192C;

  /* Accent colors */
  --accent: #FF6500;
  --accent-dark: #CC5200;
  --accent-light: #FF8533;

  }
  
